{% extends 'recipes/base.html' %}

{% block title %}{{ my_title }}{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <h1>{{ my_title }}</h1>
<br>
<div class="container">
        <form class="span6" id="recipe_form" method="post" >

                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field }}
                    {{ field.help_text }}
                    <br/>
                {% endfor %}

                <button class="btn btn-primary" type="submit" name="submit">{{ my_title }}</button>
            </form>
        </div>
    </div>
</div>
    {% endblock %}
