{% load static %}
<!DOCTYPE html>

<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
    <title>Recipes - {% block title %}A Collection{% endblock %}</title>
    </head>

    <body>
<div class="navbar navbar-inverse navbar-fixed-top">
   <div class="navbar-inner">
       <div class="container">
           <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>
           <a class="brand" href="/">Recipes</a></li>
           <div class="nav-collapse collapse">
               <ul class="nav pull-right">
                    {% if user.is_authenticated %}
                    <li class="navbar-text">Welcome, {{ user.username }}!</li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
                <ul class="nav">
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'restricted' %}">Restricted Page</a></li>
                    <li><a href="{% url 'add_category' %}">Add a New Category</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    {% endif %}

                    <li><a href="{% url 'about' %}">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <!--- Empty for the timebeing -->
                <ul class="nav nav-list">
                    <li class="nav-header">Find a Category</li>
                    <form>
                    <label></label>
                    <li><input  class="search-query span10" type="text"
                        name="suggestion" value="" id="suggestion" /></li>
                    </form>
                </ul>
        {% if cat_list %}
        <div id="cats">
            {% include 'recipes/category_list.html' with cat_list=cat_list %}
        </div>
        {% endif %}
                {% block sidebar %}
                {% endblock %}
                <div id="cats">
                    {% if cat_list %}
                        <ul class="nav nav-list"><li>Category List</li></ul>
                        {% include 'recipes/category_list.html' with cat_list=cat_list %}
                    {% endif %}
                </div>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span9">
            {% block body_block %}
            {% endblock %}
        </div>
        <!--/span-->
    </div>
    <!--/row-->
</div>
<!--/.fluid-container-->

<hr>
<footer>
    <div class="container">
        <p>&copy; Recipes: A Collection from Here and There 2014</p>
    </div>
</footer>
        <script src="{% static 'js/jquery-2.1.0.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/recipes-ajax.js' %}"></script>
    </body>
</html>
