{% extends 'recipes/base.html' %}

{% block title %}This is the Index Page{% endblock %}
{% block body_block %}
<div class="hero-unit">
    <h1>Ready to Recipes</h1>
    <p>Find, Add, Share Recipes Useful Links and Resources.</p>
</div>

<div class="row-fluid">
    <div class="span6">
        <h2>Top Five Categories</h2>
        {% if categories %}
        <ul>
            {% for category in categories %}
            <li><a href="{% url 'category' category.url %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No categories at present.</strong>
        {% endif %}

    </div>
    <!--/span-->
    <div class="span6">
        <h2>Top Five Recipes</h2>
        {% if recipes %}
        <ul>
            {% for recipe in recipes %}
            <li><a href="{{ recipe.url}}">{{ recipe.title }}</a> - {{ recipe.category }} ({{ recipe.views }} view(s))</li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No recipes at present.</strong>
        {% endif %}

    </div>
    <!--/span-->
</div>
<!--/row-->
{% endblock %}
