{% extends 'recipes/base.html' %}

{% block title %}{{ recipe_name }} {% endblock %}

{% block body_block %}
<div class="hero-unit">
    <h2>{{ recipe.title }}</h2>
    <br>
        {% if not recipe %}
        <div style="color: red;">
            The specified recipe does not exist!
        </div>
        {% else %}
        <div style="word-wrap: break-word;">
            {{ recipe.directions }}
        </div>
        <div>
            {# <a href="{% url 'edit_recipe' recipe.id %}">Edit</a> #}
            <a href="/recipe/{{ recipe.id }}/edit/" class="btn btn-primary btn-sm" role="button">Edit</a>
        </div>
        <a href="{% url 'track_url' %}?recipe_id={{ recipe.id }}">{{ recipe.url }}</a>
        {% endif %}
    </div>
{% endblock %}
